.hero {
  position: relative;
  min-height: 640px;
  height: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  text-shadow: 0 2px 3px $gray1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(circle , rgba(black, 0.5) 50%, black 100%);
    opacity: 1;
    z-index: 1;
  }
}

.hero.is-loading {
  background-image: url('../images/For_Wes.jpg');
  background-size: cover;
}


.hero__content {
  position: relative;
  z-index: 100;
  height: 100%;
  height: 100vh;
}

.hero__header {
  height: 15%;
  height: 15vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.hero__body {
  height: 70%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  width: 100%;
  width: 100vw;
}

.hero__footer {
  height: 15%;
  height: 15vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  width: 100vw;
  padding: 0 0.5rem;
}

.hero__logo {
  margin-right: 1rem;
  svg {
    width: 3.5rem;
    vertical-align: middle;
  }
}

.hero__title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero__headline {
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  margin-top: 4rem;

  p:first-of-type {
    margin-top: 0.75rem;
  }
}

.hero__cta {
  width: 100%;
}

.hero__cta-note {
  margin-top: 0.75rem;
  @include font-small;
}

.colophon {
  @include font-small;
  color: $gray4;
  max-width: 42rem;
  line-height: 1.45;
  text-shadow: none;
}
