.f-small {
  font-size: $font-size--small;
  @include MQ(M) {
    font-size: $font-size--small + 0.2rem;
  }
}

@mixin font-small {
  @extend .f-small;
}


.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
